/*
Theme Name: Santiago Wine Club
Theme URI: http://underscores.me/
Author: Studio Rios
Author URI: http://studiorios.cl
Description: Plantilla creada por encargo de Studio Rios para Santiago Wines Club por Carlos Román - http://carlosroman.xyz/
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: santiago-wine-club
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Santiago Wine Club is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}




/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/** Generated by FG **/
@font-face {
	font-family: 'Conv_SnellRoundhand';
	src: url('fonts/SnellRoundhand.eot');
	src: local('☺'), url('fonts/SnellRoundhand.woff') format('woff'), url('fonts/SnellRoundhand.ttf') format('truetype'), url('fonts/SnellRoundhand.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url('fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/DINNextLTPro-Light.otf')  format('opentype'),
	     url('fonts/DINNextLTPro-Light.woff') format('woff'), url('fonts/DINNextLTPro-Light.ttf')  format('truetype'), url('fonts/DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url('fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/DINNextLTPro-Regular.otf')  format('opentype'),
	     url('fonts/DINNextLTPro-Regular.woff') format('woff'), url('fonts/DINNextLTPro-Regular.ttf')  format('truetype'), url('fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINNextLTPro-Bold';
  src: url('fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/DINNextLTPro-Bold.otf')  format('opentype'),
	     url('fonts/DINNextLTPro-Bold.woff') format('woff'), url('fonts/DINNextLTPro-Bold.ttf')  format('truetype'), url('fonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
    font-size: 13px;
    line-height: 20px;
    font-family: helvetica;
    margin-bottom: 10px;
    color: #666!important;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: url(images/bg_sitio.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	/* border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); */
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	/* border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); */
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	/* border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); */
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	/* border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px; */
}

select {
	/* border: 1px solid #ccc; */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #5f1c4a;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
	text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: #5f1c4a;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	transition: all 0.3s;
}

.main-navigation li {
	float: left;
	position: relative;
	background: #5f1c4a;
	transition: background-color 0.5s ease;
}

.main-navigation li.menu-item-7083 {
	float: left;
	position: relative;
	background: #7e4296 !important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}

.main-navigation li.menu-item-5543 {
	float: left;
	position: relative;
	background: #731919 !important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}

.main-navigation li.menu-item-5545 {
	float: left;
	position: relative;
	background: #a62829!important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}

.main-navigation li.menu-item-5546 {
	float: left;
	position: relative;
	background: #b50a37!important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}

.main-navigation li.menu-item-5544 {
	float: left;
	position: relative;
	background: #641e4d!important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}

.main-navigation li.menu-item-7086 {
	float: left;
	position: relative;
	background: #820628!important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}

.main-navigation li.menu-item-5587 {
	float: left;
	position: relative;
	background: #52453d!important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}

.main-navigation li.menu-item-5587 {
	float: left;
	position: relative;
	background: #52453d!important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}

.main-navigation li.menu-item-5550 {
	float: left;
	position: relative;
	background: #820628!important;
	transition: background-color 0.5s ease;
	font-family: 'DINNextLTPro-Regular'!important;
}


@media screen and (max-width: 468px) {
	.main-navigation li {
		width: 100%;
	}
}
.main-navigation .current_page_item {
	background: #7e4296;
}
.main-navigation li:hover {
	background: #641e4d !important;
}
.main-navigation li a {
	display: block;
	padding: 15px 23px;
	text-transform: uppercase;
	font-weight: bold;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	background: #5f1c4a;
	color: #fff;
	font-size: 20px;
	border: none;
	transition: all 0.3s;
	padding: 15px;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		float: left;
		width: 100%;
		background: #5f1c4a;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Santiago Wine Club
--------------------------------------------------------------*/
#masthead {
	padding: 0;
	border: 10px solid #fff;
	position: relative;
}
#masthead a,
#masthead a:hover {
	color: #fff;
	text-decoration: none;
}
#masthead .site-branding {
	background: url(images/bg_header.jpg) no-repeat center;
	border-bottom: 10px solid #fff;
	padding: 35px;
}
@media screen and (max-width: 1024px) {
	#masthead .site-branding {
		background: #5f1c4a;
		text-align: center;
	}
}
#masthead #leyenda {
	color: #fff;
	font-family: 'Conv_SnellRoundhand', sans-serif;
}
#masthead #leyenda p {
	font-size: 20px;
    line-height: 22px;
    width: 50%;
    margin-top: 30px;
    margin-left: 100px;
    font-family: 'DINNextLTPro-Light';
    color: #fff !important;
}

#home-redes{
	padding-top: 0px;
	padding-bottom: 20px;
}
.home-widget h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px !important;
	border-bottom: 1px solid #a4a39f;
	font-family: 'DINNextLTPro-Bold'!important;
	color: #671f55;

}
.home-widget ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.home-widget-full {
	padding: 45px 0;
	background: #E9E8D8;
	float: left;
	width: 100%;
}
.home-widget-full a:hover {
	text-decoration: none;
}
.home-widget-full i {
	    font-size: 16px;
	background: #636363;
	color: #fff;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100px;
}
.home-widget-full i:hover {
	font-size: 16px;
	background: #5f1c4a;
	color: #fff;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100px;
}

#home-destacados{
	padding: 30px;
}

.home-destacado {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 15px;
	
}
.home-destacado a:hover {
	text-decoration: none;
}
.home-destacado img {
	padding-bottom: 20px;
	border-bottom: 1px solid #a4a39f;
}
.home-destacado h3 {
	font-size: 14px;
	text-transform: uppercase;
	color: #5f1c4a;
	text-align: left !important;
	font-family: 'DINNextLTPro-Bold'!important;

}
.home-destacado p {
	color: #666;
	text-align: left;
}
#home-alianzas,
#home-agendas {
	margin: 0;
	padding: 30px;
	background: #fff;
}
#home-alianzas h2,
#home-agendas h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px !important;
	border-bottom: 1px solid #a4a39f;
	font-family: 'DINNextLTPro-Bold'!important;
	color: #671f55;
}
#home-alianzas li {
	display: inline-block;
	margin: 15px;
}
#home-agendas li {
	margin-bottom: 10px;
}
#home-agendas .date {
	background: #666;
    color: #fff;
    float: left;
    text-align: center;
    padding: 2px;
    border-radius: 6px;
    margin-right: 10px;
}
#home-agendas .date span {
	float: left;
	width: 100%;
	font-family: 'DINNextLTPro-Regular'!important;
}
#home-agendas .date .day {
	font-size: 18px;
	font-weight: bold;
		font-family: 'DINNextLTPro-Bold'!important;

}
#home-agendas .event_description {
	float: left;
	text-align: left;
	width: 50%;
}
@media screen and (max-width: 768px) {
	#home-agendas .event_description {
		width: 100%;
		line-height: 15px !important;
	}
}
#home-agendas .event_description span {
	font-size: 12px;
	margin-top: 0;
	color: #666;
	line-height: 15px !important;
}
#home-productos {
	background: #fff;
	text-align: center;
	padding: 30px;
}

.home-producto{
	
	padding: 20px;
}
#home-productos h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px !important;
	border-bottom: 1px solid #a4a39f;
	font-family: 'DINNextLTPro-Bold'!important;
	color: #671f55;
}
#home-productos h3 {
	font-size: 12px;
	color: #666;
	padding-bottom: 15px;
	font-weight: bold;
	line-height: 20px;
    max-height: 40px;
    overflow: hidden;
}
#home-productos a {
	background: #5f1c4a;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 15px;
	display: inline-block;
}
#home-productos a:hover {
	background: #731919;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 15px;
	display: inline-block;
	text-decoration: none;
}
#home-productos img {
	display: inline-block;
}
#home-contacto {
	background: #E9E8D8;
	float: left;
	width: 100%;
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 0px;
}
#home-contacto span {
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'DINNextLTPro-Regular';
}
#home-contacto .separata {
	height: 1px;
	background: #a4a39f;
	float: left;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
}

b, strong{
	    font-weight: bold;
}
#menu-footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #e9e8d8;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'DINNextLTPro-Bold'!important;
}


#menu-footer-menu li {
	display: inline-block;
}
@media screen and (max-width: 468px) {
	#menu-footer-menu li {
		width: 100%;
	}
}
#menu-footer-menu a {
	color: #6c6b54;
	padding: 10px;
	display: block;
	text-decoration: none;
}
#menu-footer-menu a:hover {
	color: #484735;
	padding: 10px;
	display: block;
	text-decoration: none;
}#footer-pagos {
	background: #dad8ca;
	text-align: center;
	float: left;
	width: 100%;
}
#footer-pagos img {
	display: inline-block;
	margin: 20px 0;
}

.page #content,
.single #content,
.woocommerce-page #content {
	background: #fff;
}
.woocommerce-page #content h1 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #a4a39f;
    font-family: 'DINNextLTPro-Bold'!important;
    color: #671f55;
	  

}
.page #content h1,
.single #content h1 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #a4a39f;
    font-family: 'DINNextLTPro-Bold'!important;
    color: #671f55;
    text-transform: uppercase;
	  

}

post-type-archive .woocommerce-page #content h1{
 font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #a4a39f;
    font-family: 'DINNextLTPro-Bold'!important;
    color: #671f55;
    text-transform: uppercase;
}

.entry-content h1
 {
	color: #242424!important;
	text-transform: uppercase !important;
	font-size: 15px!important;
	font-weight: bold!important;
	padding: 15px!important;
	margin-top: 0!important;
	  font-family: 'DINNextLTPro-Regular'!important;
	  border: none!important;
	  margin-left: 0px !important;
	  padding-left: 0px !important;

}

.page #content .gallery figure {
	margin: 10px;
}
#secondary .widget {
	background: #f2f1e6;
	padding: 15px;
}
#secondary .widget ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
#secondary .widget ul a {
	color: #5f1c4a;
	text-decoration: none;
}
#secondary .widget ul li {
	margin-bottom: 5px;
}
#secondary .widget ul .current_page_item a {
	color: #666;
}
#secondary .widget ul a:hover {
	font-weight: bold;
}
#secondary .widget h2 {
	margin-top: 0;
	font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #b2b2b2;
    padding: 6px 0 10px;
    margin-bottom: 13px;
    color: #5f1c4a;
}
.entry-content h2 {
	font-size: 18px;
    margin: 0 0 10px;
    line-height: 42px;
    color: #666;
}
.entry-content ul {
	margin: 0;
	list-style: none;
  	padding: 0;
}
.entry-content ul li {
	padding-left: 1.3em;
	margin-bottom: 5px;
}
.entry-content ul li:before {
	content: "\f000"; /* FontAwesome Unicode */
	color: #5f1c4a;
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	width: 30%;
	text-align: center;
}
@media screen and (max-width: 468px) {
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 100%;
	}
}
.woocommerce ul.products li.product a,
.woocommerce-page ul.products li.product a {
	color: #5f1c4a;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.theme-default .nivo-controlNav{
	padding: 0px !important;
}

.nivo-controlNav{
	
	padding: 0px !important;
}

.theme-default{
	
	background-color: #E9E8D8 !important;

}
.single-product h1{
	
	    font-size: 15px;
	    text-transform: none !important;
}

.single-product .woocommerce-Price-amount{
	
	font-weight: bold;
	color: #a62829;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background: #5f1c4a;
	color: #fff !important;
}
.woocommerce #respond input#submit,
.woocommerce a.button:hover ,
.woocommerce button.button:hover ,
.woocommerce input.button:hover {
	background: #731919;
	color: #fff !important;
}
.woocommerce .quantity .qty {
	height: 31px;
}
.woocommerce div.product form.cart .button {
	background: #5f1c4a;
}
.woocommerce div.product form.cart .button:hover {
	background: #731919;
}

.woocommerce ul.products li.product h3{
	
	text-transform: none !important;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}

.woocommerce ul.products li.product .price ins{
	
	color: #a62829;
	font-size: 15px !important;
	font-weight: bold !important;
	
}

.woocommerce nav.woocommerce-pagination{
	margin-bottom: 20px;
}
.woocommerce span.onsale{
	
	    background-color: #a62829 !important;
}
.woocommerce ul.products li.product .price{

color: #a62829;
	font-size: 15px !important;
	font-weight: bold !important;
	text-align: center;
}
.woocommerce .product-name a {
	color: #5f1c4a;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	background: #5f1c4a;
}
.woocommerce .woocommerce-MyAccount-navigation-link a {
	color: #5f1c4a;
}
.woocommerce .woocommerce-MyAccount-navigation-link.is-active a {
	font-weight: bold;
	color: #666;
}
.woocommerce-account .addresses .title h3 {
	font-size: 16px;
	color: #666;
}
.woocommerce-account .addresses .title .edit {
	display: inline-block;
	width: 100%;
}
.woocommerce .related h2 {
	font-size: 16px;
	color: #666;
}
#woocommerce-admin-menu {
	background: #7e4296;
	list-style: none;
	float: left;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
}
#woocommerce-admin-menu li {
	float: left;
	text-transform: uppercase;
	padding: 10px;
	font-family: 'DINNextLTPro-Regular'!important;
}
.woocommerce .woocommerce-ordering select {
	background: #fff;
	color: #5f1c4a;
	border: none;
}
@media screen and (max-width: 468px) {
	.woocommerce .woocommerce-ordering select {
		width: 100%;
	}
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	color: #5f1c4a;
	transition: all 0.3s;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background: #5f1c4a;
	color: #fff;
	transition: background-color 0.5s ease;
}
.woocommerce .order_details li:before {
	content: "";
}
.woocommerce-order-received h3 {
	color: #666;
	font-size: 14px;
}
.woocommerce .order a {
	color: #5f1c4a;
}
.page-template-template-vinateros .site-content ul {
	margin: 0;
}
.page-template-template-vinateros .site-content ul h3 {
	font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px !important;
    font-family: 'DINNextLTPro-Bold'!important;
    color: #666;
    text-transform: uppercase;
}
.page-template-template-vinateros .site-content ul li {
	border-bottom: 1px dotted #666;
	margin-bottom: 20px;
}
.page-template-template-vinateros .site-content ul li a {
	color: #5f1c4a;
}
.page-template-template-vinateros .site-content ul li a:hover {
	text-decoration: none;
}